/* Main Fonts */
@font-face {
    font-family: Market Deco;
    src: url(/fonts/Market_Deco.ttf);
}

body {
  font-family: Raleway;
  font-size: 16px;
  font-weight: normal;
}

h2 {
  font-family: Market Deco;
  color: #EA9FBC;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 20px;
}

.semibold {
  font-weight: 600;
}
/* Nav bar */

#nav {
  height: 118px;
  width: 100%;
  background-color: #EA9FBC;
  position: fixed;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,.4);
  -moz-box-shadow:    0px 2px 5px 0px rgba(0,0,0,.4);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.4);
  color: white;
  font-family: Raleway;
  font-weight: 800;
  z-index: 100;
}

.nav-box {
  display: flex;
  flex-direction: row;
  height: 118px;
  width: 100%;
  flex:1;
  margin: auto 0;
}

.nav-box li {
  text-align: left;
  margin: auto 0;
  list-style: none;
  padding: 0 5px;
}

.nav-box a {
  text-decoration: none;
  color: white;
}

.nav-box a:hover {
  color: #555;
}

.nav-title {
  display: flex;
  flex-direction: row;
}

.nav-sign {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search {
  float:left;
  width: 24px;
  height: 24px;
}


.logo {
  margin: 0 auto;
  height: 98px;
  width: 98px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.hideres {
  display: none;
}

.hidesearch {
  display: none;
  cursor: text;
  float: right;
}

.hidesearch a:hover {
  color: white;
}

.searchbar {
  margin: auto 0;
}

@media (min-width: 450px) {
  .hideres {
    display: inline-block;
  }
  .nav-title {
    margin: 0 auto;
  }
  .bar {
    min-width: 130px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 645px) {
 .hidesearch {
  display: inline-block;
 }
}

@media (max-width: 645px) {
  .bar {
    border: none;
    margin-right: 20px;
  }
}


/* IMAGES */

.heroimg {
  opacity: 0.69;
  top: 120px;
}

.brewimg {
  opacity: 0.06;
  height: 961px;
  width: 100%;
  position: relative;
  min-height: 761px;
}

/* HERO */
.hero {
  position: relative;
  display: block;
  background:url(../images/heroimg.png);
  background-size: cover;
  padding: 50px 50px;
  height: 460px;
  width: 100%;
}

.herobox {
  display: flex;
  background-color: rgba(255,255,255,.75);
  margin: 0 auto;
  top: 40%;
  z-index: 1;
  border-radius: 12px;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
  height: 40%;
  max-width: 500vw;
  width: 400px;

}

.herobox h2 {
  font-family: Market Deco;
  color: #91B449;
  font-size: 1.5em;
  padding-right: 10%;
  padding-left: 10%;
}

.herobox p {
  margin: 0 auto;
  padding-right: 10%;
  padding-left: 10%;
}

/* BUTTON */
.btn-hero {
  background-color: #9DBC5C; 
  border: 1px solid #979797;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  height: 5px;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 15px;
}

/* ABOUT */
.aboutrows {
  background-color: #EA9FBC;
  display: inline-grid;
  width: 100%;
  color: #ffffff;
}

.about div {
  text-align: center;
  border: 1px solid #ffffff;
  width: 100%;
}

.aboutrows div {
  background-color: #EA9FBC;
  display: grid;
  width: 100%;
  color: #ffffff;
  grid-gap: 20px;
  margin: 0 auto;
  flex: 1;
  flex-grow: 1;
}


.about h2 {
  justify-content: center;
}

.about p {
  justify-content: center;
  margin: auto 0;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.icons1 {
  justify-content: center; 
  margin: 0 auto;
  padding-top: 10px;
}

.immune {
  z-index: 4;
}

.mental {
  z-index: 4;
}

@media (min-width: 768px) {
  .aboutrows{
    display: flex;
    flex-wrap: wrap;
    grid-gap:20px;
  }
  .about div{
    border: 1px solid #ffffff;
    flex-grow: 1;
    flex-basis: 360px;
  }
  .antioxidant {
    flex-grow: 1;
  }
  .weight {
    flex-grow:1;
  }
}



/* BREW */
.brew {
  position: relative;
  background:url(../images/brewimg.png);
  background-size: cover;
}

.brewrows {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.icons2 {
  margin: 0 auto;
  display: block;
}

.brew p  {
  padding-left: 10%;
  padding-right: 10%;
}

.brewsquare {
  background-color: #fff;
  width: 100%;
}

.brewlist {
  list-style: none;
  }

.brewlist p {
  text-align: left;
}

@media (min-width: 768px) {
  .icons2 {
    float: left;
    padding-left: 10%;
    padding-right: 20%;
    align-items: : right;
    justify-content: right;
  }
  .brewrows {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  .brewsquare {
   background: transparent;
  }
  .brewlist {
    display: flex;
    justify-content: space-around;
  }
}

/* SALE */
.jasminepearl {
  width: 50%;
  max-width: 334px;
  margin: 0 auto;
  display: block;
  border-radius: 17px;
  border: 3px solid #97B35C;
}

@media (min-width: 768px) {
  .jasminepearl {

  } 
}

.saleheading {
  font-weight: 600;
  margin: auto 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.sale p {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  background-color: #EA9FBC;
  color: #fff;
  display: block;
  height: 100px;
}

.footerlogo {
  width: 71px;
  height: 71px;
  float: left;
  margin: 0 auto;
}

.footer-center {
  height: 100px;
  display: inline-block;
}

