/* Main Fonts */
@font-face {
    font-family: Market Deco;
    src: url(/fonts/Market_Deco.ttf);
}

body {
  font-family: Raleway;
  font-size: 16px;
  font-weight: normal;
}

h2 {
  font-family: Market Deco;
  color: #EA9FBC;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 20px;
}

.semibold {
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
/* Nav bar */

#nav {
  height: 118px;
  width: 100%;
  background-color: #EA9FBC;
  position: fixed;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,.4);
  -moz-box-shadow:    0px 2px 5px 0px rgba(0,0,0,.4);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.4);
  color: white;
  font-family: Raleway;
  font-weight: 800;
  z-index: 100;
}

.nav-box {
  display: flex;
  flex-direction: row;
  height: 118px;
  width: 100%;
  flex:1;
  margin: auto 0;
}

.nav-box li {
  text-align: left;
  margin: auto 0;
  list-style: none;
  padding: 0 5px;
}

.nav-box a {
  text-decoration: none;
  color: white;
}

.nav-box a:hover {
  color: #555;
}

.nav-title {
  display: flex;
  flex-direction: row;
}

.nav-sign {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search {
  float:left;
  width: 24px;
  height: 24px;
}


.logo {
  margin: 0 auto;
  height: 98px;
  width: 98px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.hideres {
  display: none;
}

.hidesearch {
  display: none;
  cursor: text;
}

.hidesearch a:hover {
  color: white;
}

.searchbar {
  margin: auto 0;
}

@media (min-width: 500px) {
  .hideres {
    display: inline-block;
  }
  .nav-title {
    margin: 0 auto;
  }
  .bar {
    min-width: 130px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 645px) {
 .hidesearch {
  display: inline-block;
 }
}

@media (max-width: 645px) {
  .bar {
    border: none;
    margin-right: 20px;
  }
}


/* IMAGES */

.heroimg {
  opacity: 0.69;
  top: 120px;
}

.brewimg {
  opacity: 0.06;
  height: 961px;
  width: 100%;
  position: relative;
  min-height: 761px;
}

/* HERO */
.hero {
  position: relative;
  display: block;
  background-image:url(../images/heroimg.png);
  background-size: cover;
  padding: 10% 10%;
  height: 460px;
  width: 100%;
}

@media (min-width: 768px) {
  .hero {
    padding: 50px 50px;
  }
}

.herobox {
  display: flex;
  background-color: rgba(255,255,255,.75);
  margin: auto 0;
  top: 40%;
  z-index: 1;
  border-radius: 12px;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  max-width: 80vw;
  width: 500px;

}

.herobox h2 {
  font-family: Market Deco;
  color: #91B449;
  font-size: 1.5em;
  padding-right: 10%;
  padding-left: 10%;
}

.herobox p {
  margin: 0 auto;
  padding-right: 10%;
  padding-left: 10%;
}

/* BUTTON */
.btn-hero {
  background-color: #9DBC5C; 
  border: 1px solid #979797;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  height: 5px;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 15px;
}

a.btn-hero {
  margin: 20px auto;
}

.shop-now {
  justify-content: center;
  display: block;
  margin: -5px auto;
  
}

/* ABOUT */

.about {
  padding-bottom: 3%;
}

.aboutrows {
  background-color: #EA9FBC;
  display: inline-grid;
  width: 100%;
  color: #ffffff;
  margin: auto 0;
}

.about div {
  text-align: center;
  border: 1px solid #ffffff;
  width: 100%;
}

.aboutrows div {
  background-color: #EA9FBC;
  display: grid;
  width: 100%;
  color: #ffffff;
  grid-gap: 20px;
  margin: 0 auto;
  flex: 1;
  flex-grow: 1;
}


.about h2 {
  justify-content: center;
}

.about p {
  justify-content: center;
  margin: auto 0;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.icons1 {
  justify-content: center; 
  margin: 0 auto;
  padding-top: 10px;
}

.immune {
  z-index: 4;
}

.mental {
  z-index: 4;
}

@media (min-width: 768px) {
  .aboutrows{
    display: flex;
    flex-wrap: wrap;
    grid-gap:20px;
  }
  .about div{
    border: 1px solid #ffffff;
    flex-grow: 1;
    flex-basis: 360px;
  }
  .antioxidant {
    flex-grow: 1;
  }
  .weight {
    flex-grow:1;
  }
}



/* BREW */
.brew {
  position: relative;
  background-image:url(../images/brewimg.png);
  background-size: cover;
}

.brew span {
  font-family: Raleway;
  font-weight: 500; 
}

.brew-steps {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .brew-steps {
    width: 65%;
  }
}

.brew-steps h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.brew-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}

.brew-list li {
  display: flex;
  align-items: center;
}

.brew-list li + li {
  margin-top: 2rem;
}

.icons2 {
  width: 100px;
  height: 100px;
  margin-right: 2.5rem;
  flex: 0 0 100px;
}




/* SALE */

.sale {
padding-bottom: 5%;
}

.jasminepearl {
     width: 40%;
    max-width: 240px;
    margin: 0 auto;
    display: block;
    border-radius: 17px;
    border: 3px solid #97B35C;
    height: 30%
}

.saleinfo {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .salecontainer {
    flex-direction: row !important;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.saleheading {
  font-weight: 600;
  margin: auto 0;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

.sale p {
  padding-left: 10%;
  padding-right: 10%;
}

.salecontainer {
  display: flex;
  flex-direction: column;
}

.qty {
  display: block;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin: auto 0;
}


.btn-sale {
  background-color: #97B35C;
  color: #ffffff;
  width: 80%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  height: 30px;
}

.checkout {
  justify-content: center;
  display: block;
  margin: 7px auto;
}

.qty .arrow-container {
  position: relative;
  height: 86%;
  top: -5%;
  display: inline-grid;
  grid-template-rows: 1fr 1fr;
}

.oz {
  float: left;
  width: 100%;
}

.sale-dropdown {
  border: 2px solid #97B35C;

}

@media (min-width: 928px) {
  .qty {
    padding-right: 10%;
    padding-left: 10%;
  }
  .oz {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

/* FOOTER */
.footer {
  background-color: #EA9FBC;
  color: #fff;
  display: flex;
  height: 100px;
  position: absolute;
  width: 100%;
}

.footerlogo {
  width: 71px;
  height: 71px;
  float: left;
  margin: auto 0;
}

.footer-center {
  display: flex;
  margin: 0 auto;
  padding-right:10%;
  padding-left: 10%;
}

.footer-text {
  margin: auto 0;
  padding-left: 5%;
}

@media (max-width:430px) {
  .footer {
    padding-right: 10%;
  }
}
